In [1]:
altura = [1.57, 1.60, 1.69, 1.70]

In [2]:
print(altura)

[1.57, 1.6, 1.69, 1.7]

In [3]:
type(altura)

list

In [4]:
altura_nome = ['Tainã', 1.57, 'Neidinha', 1.60, 'Andrea', 1.69, 'Maybi', 1.70]

In [5]:
type(altura_nome)

list

In [6]:
print(altura_nome)

['Tainã', 1.57, 'Neidinha', 1.6, 'Andrea', 1.69, 'Maybi', 1.7]

## Lista de listas

In [7]:
altura_nome2 = [['Tainã', 1.57], 
                ['Neidinha', 1.60],
                ['Andrea', 1.69], 
                ['Maybi', 1.70]]

In [8]:
print(altura_nome2)

[['Tainã', 1.57], ['Neidinha', 1.6], ['Andrea', 1.69], ['Maybi', 1.7]]

In [9]:
type(altura_nome2)

list

## Transformando lista em data frame

In [10]:
import pandas as pd

df = pd.DataFrame(altura_nome2)

In [11]:
df

          0     1
0     Tainã  1.57
1  Neidinha  1.60
2    Andrea  1.69
3     Maybi  1.70

In [12]:
df.columns = ['nome', 'altura']

In [13]:
df

       nome  altura
0     Tainã    1.57
1  Neidinha    1.60
2    Andrea    1.69
3     Maybi    1.70

## Indexação no python

In [14]:
altura_nome2[1]

['Neidinha', 1.6]

In [15]:
altura_nome2[0]

['Tainã', 1.57]

In [17]:
altura_nome2[0:3] # do 0 ao 2, não inclui o 3

[['Tainã', 1.57], ['Neidinha', 1.6], ['Andrea', 1.69]]

# Exercícios

## Questão 1

- Crie as variáveis: quarto, sala, banheiro e cozinha. Preencha com valores de área $(m^2)$.
- Agora, crie uma lista chamada `area`, que receba as variáveis criadas anteriorment.
- Imprima a lista `area` e seu tipo.

## Questão 2

- Atualize a lista `area` intercalando os nomes dos ambientes, e as variáveis que representam suas medidas.
- Imprima `area` novamente e seu tipo.
- Crie uma lista de listas, para cada cômodo da casa.